@import 'https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap';

// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// Fonts
$font-size: 15px;
$font-family-alata: 'Alata', serif;
$font-family-josefin: 'Josefin Sans', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;